/* Global Styles */
html {
    /* scroll-padding-top: 7rem; Adjust this based on the height of your navbar */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.header #fitness {
    font-size: 30px;
    font-weight: 500;
    font-family: serif;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-top: 20px;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation #contact {
    margin-right: 250px;
}

.navigation .auth-btn {
    padding: 10px 18px;
    border: 1px solid;
    border-radius: 24px;
    margin-left: 0;
    font-weight: bold;
    font-size: large;
    background-color: black;
    color: white;
}

.logo {
    display: flex;
    height: 85px;
    gap: 1rem;
}

.logo img {
    height: 100px;
    object-fit: contain;
}

/* Carousel Styles */
.Carousel {
    border-bottom: 1px solid white;
    padding: 300px 0;
}

/* Features and Description Styles */
.features {
    padding-bottom: 70px;
}

#about .container {
    margin-top: 30px;
    border-top: 1px solid white;
    padding: 15px 0;
}

.description h1, .description h2, .description p {
    text-align: center;
    margin: 20px 0;
}

.container-bmi, .container-cal, .container-routine {
    text-align: center;
    padding: 30px 20px 20px;
}

.description img {
    width: 90%;
    transition: opacity 0.3s;
}

.description img:hover {
    opacity: 0.7;
}

.features h1 {
    margin: 20px 0 50px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px white;
    border-radius: 15px;
}

#bmiImg, #calorieImg, #routineImg {
    border-radius: 15px;
}

/* Footer Styles */
.footer {
    background: #333;
    color: #fff;
    padding: 7px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

/* Welcome Section Styles */
.welcome img {
    width: 100%;
}
