*{
    margin: 0;padding: 0;box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#suggestions {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/gym.jpeg);
}

#suggestions div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#planResult {
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 50px 0;
}
.container .workout{
    padding: 10px;
    border-radius: 10px;
    width: 20rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
.container img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}
.container .workout .description{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container .description h1{
    /* text-align: center; */
    margin: auto;
}